{{each this}}
   {{each day2}}

<div class="">
    <h1>Day 2</h1>
    <h2>Temperatures</h2>
    <div>High: {{ForecastHigh}}</div>
    <div>Low: {{ForecastLow}}</div>
    <h2>Winds and Pressure</h2>
    <div>Wind Speed: {{ForecastWind}}</div>    <div>Pressure: {{ForecastPressure}}</div>
</div>

    {{/each}}

    {{each day3}}

     
<div class="">
    <h1>Day 3</h1>
    <h2>Temperatures</h2>
    <div>High: {{ForecastHigh}}</div>
    <div>Low: {{ForecastLow}}</div>
    <h2>Winds and Pressure</h2>
    <div>Wind Speed: {{ForecastWind}}</div>    <div>Pressure: {{ForecastPressure}}</div>
    <div><button></button></div>
</div>

    {{/each}}
{{/each}} 
