{{#each this}}

<div class="additionalDays">
  <label><h1>Weather For {{date}}</h1></label>
  <div>High: {{high}}</div>
  <div>Low: {{low}}</div>
  <div>Wind Speed: {{wind}}</div>
  <div>Conditions: {{description}}</div>
  <div>Air Pressure: {{pressure}}</div>
</div>

{{/each}}
