
<div class="forecast">
  <label><h1>Current Weather</h1></label>
  <div>City: {{city}}</div>
  <div>Current Temp: {{currentTemp}}</div>
  <div>Wind Speed: {{wind}}</div>
  <div>Conditions: {{conditions}}</div>
  <div>Air Pressure: {{pressure}}</div>
  <div>Share current conditions: 
<a href="https://twitter.com/share" class="twitter-share-button" data-text="Current conditions for {{city}}" data-via="MrWadeDotNet" data-hashtags="WXConditions">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
  <div>
    <button id='selectThree' class='forecast'>Three Day Forecast</button> 
    <button id='selectSeven' class='forecast'>Seven Day Forecast</button> 
  </div>
</div>

