
<div class="forecast">
  <label><h1>Current Weather</h1></label>
  <div>City: {{city}}</div>
  <div>Current Temp: {{currentTemp}}</div>
  <div>Wind Speed: {{wind}}</div>
  <div>Conditions: {{conditions}}</div>
  <div>Air Pressure: {{air_Pressure}}</div>
  <div>
    <button class='save'>Save</button> 
  </div><br>
  <div>
    <button id='selectThree' class='forecast'>Three Day Forecast</button> 
    <button id='selectSeven' class='forecast'>Seven Day Forecast</button> 
  </div>
</div>

